#header{
    height: 10vh;
    width: 100vw;
    background-color: rgb(241, 36, 36);
    display: flex;
    align-items: center;
    justify-content: center;
}
#header__logo, #header__search{
    position: relative;
    left: 5vw;
}
#header__logo{
    color: white;
    position: relative;
    left: -10vw;
    size: 100px;
}
#header__search{
    height: 5vh;
    width: 25vw;
    border: 2px solid white;
    border-radius: 4px;
}

.header__redirect{
    margin-right: 2vw;
    text-decoration: none;
    color: white;
    position: relative;
    left: 15vw;
    font-weight: bold;
}
/* #header__join, #header__login, #header__upload, #header__profile, #header__logout{
    margin-right: 2vw;
    text-decoration: none;
    color: white;
    position: relative;
    left: 15vw;
    font-weight: bold;
} */