#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
#main__video{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    text-align: center;
}

.video__sumnail{
    height: 30vh;
    width: 15vw;
}