#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main__profile{
    margin-bottom: 7vh;
}

#profile__name{
    text-align: center;
}

#profile__img{
    height: 14vh;
    width: 7vw;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

#main__edit, #main__passwd{
    width: 15vw;
    height: 5vh;
    margin-bottom: 2vh;
    background-color: rgb(81, 143, 223);
    text-align: center;
    color: white;
    padding: 2vh 3vw 0vh 3vw;
}

#edit__edit-btn, #edit__passwd-btn{
    text-decoration: none;
    color: white;
}

#main__message{
    color: red;
}