#main{
    height: 80vh;
    width: 100vw;
}
#main__signup-form, #main__other-signup{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main__signup-form{
    height: 60%;
}
#main__signup-form>*{
    height: 7vh;
    width: 23vw;
    margin-bottom: 4vh;
    border: 2px solid;
    border-radius: 4px;
    border-color: white;
}

.signup-form__submit{
    border-color: white;
    box-shadow: 1.5px 1.5px lightgray;
}
#signup-form__name{
    margin-top: 4vh;
}
#signup-btn{
    width: 24vw;
    background-color: rgb(46,136,255);
    border-color: rgb(46,136,255);
    font-size: 1.4vw;
    color: white
}
.other-signups{
    height: 5vh;
    width: 18vw;
}
#other-signup__github{
    color: white;
    background-color: black;
}
#other-signup__kakao{
    color: black;
    background-color: rgb(252, 206, 3);
}

.other-signups{
    padding: 2vh 3vw 1vh 3vw;
    text-align: center;
    text-decoration: none;
    border: 2px;
    border-radius: 6px;
    margin-bottom: 2vh;
    font-size: 1.4vw;
}