.flex-box{
    display: flex;
    flex-direction: column;
}

#main{
    /* height: 80vh;
    width: 100vw; */
    height: 70%;
    width: 100%;
    align-items: center;
    overflow: auto;
}

#main__video{
    margin-top: 1vh;
    height: 50vh;
    width: 60vw;
}

#main__video-info{
    margin-top: 2vh;
    justify-content: flex-start;
    position: relative;
    right: 15vw;
}

#main__comments{
    justify-content: center;
}

#comments__login-err{
    color: red;
}

#comments__add-comment{
    width: 15vw;
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 1.5px 1.5px lightgray;
}

.comments{
    color: white;
    background-color: rgb(81, 143, 223);
    height: 4vh;
    width: 15vw;
    text-align: center;
    margin-top: 2vh;
    border: 2px solid rgb(81, 143, 223);
    border-radius: 4px;

}
