<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <link rel="stylesheet" href="/style/change-password-style.css">
    <title>change password</title>
</head>
<body>
    {% include 'header.html' %}
    <main id="main">
        <form action="/login/passwd-verification" method="POST" id="main__form">
            <input type="text" placeholder="New Password" name="passwd1" id="form__new-passwd1">
            <input type="password" placeholder="Verify Password" name="passwd2", id="new-passwd2">
            <input type="submit" value="Change Password" id="form__submit-btn">
        </form>
    </main>
    {% include 'footer.html' %}
</body>
</html>