<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <link rel="stylesheet" href="/style/edit-profile-style.css">
    <title>Edit Profile</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <form action="" id="main__form">
            <div id="form__img">
                <!-- <span>Avatar</span> -->
                <label for="img__chose" id="img__info">Avatar</label>
                <input type="file" value="Avatar" id="img__chose">
            </div>
            <input type="text" placeholder="name" id="form__name">
            <input type="text" placeholder="email" id="form__email">
            <input type="submit" id="form__submit-btn">
        </form>
        
    </main>
    {% include "footer.html" %}
</body>
</html>