<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <link rel="stylesheet" href="/style/edit-profile-style.css">
    <title>Edit Profile</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <form action="/login/user-info-adjustment" method="POST" enctype="multipart/form-data" id="main__form">
        <!-- <div id="main__form"> -->
            <div id="form__img">
                <label for="img__chose" id="img__info">Avatar</label>
                <input type="file" value="Avatar" name="profile_img" id="img__choose">
            </div>
            <input type="text" placeholder="name" name="name" id="form__name">
            <input type="text" placeholder="email" name="email" id="form__email">
            <input type="submit" id="form__submit-btn">
        <!-- </div> -->
            
        </form>
        <span id="main__message">{{message}}</span> 
    </main>
    {% include "footer.html" %}
    {% include "common-script.html" %}
    <script src="/script/edit-profile-cli.js"></script>
</body>
</html>