<header id="header">
    <a href="/">
        <i class="fab fa-youtube fa-2x" id="header__logo"></i>
    </a>
    <input type="text" placeholder="Search by term..." id="header__search">
    {% if is_logged_in%}
    <a href="/login/upload" class="header__redirect" id="header__upload">UPLOAD</a>
    <a href="/login/PROFILE" class="header__redirect" id="header__profile">PROFILE</a>
    <a href="/login/logout" class="header__redirect" id="header__logout">LOGOUT</a>
    {% else %}
    <a href="/signup" class="header__redirect" id="header__join">JOIN</a>
    <a href="/login" class="header__redirect" id="header__login">LOG IN</a>
    {% endif %}
</header>