<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/common-style.css">
    <link rel="stylesheet" href="/style/profile-style.css">
    <title>Profile</title>
</head>
<body>
    {% include "header.html" %}
    <main id="main">
        <div id="main__profile">
            <img src="/login/profile-img" alt="" id="profile__img">
            <div id="profile__name"></div>
        </div>
        <div id="main__edit">
            <i class="fas fa-edit"></i>
            <a href="/login/profile-adjustment" id="edit__edit-btn">Edit Profile</a>
        </div>
        <div id="main__passwd">
            <i class="fas fa-unlock-alt"></i>
            <a href="/login/passwd-adjustment" id="edit__passwd-btn">Change Password</a>
        </div>
        <span id="main__message">{{message}}</span>
    </main>
    {% include "footer.html" %}
    {% include "common-script.html" %}
    <script src="/script/profile-cli.js"></script>
</body>
</html>